In [5]:
# 1) Write a program in Jupyter Notebook to declare variables of different data types (integer, float, string, and boolean).
# Print each variable and its type.

integerNum = 10
floatNum = 20.5
string = "Hello, World!"
boolean = True
print("Integer variable:", integerNum)
print("Type of integer_var:", type(integerNum))

print("Float variable:", floatNum)
print("Type of float_var:", type(floatNum))

print("String variable:", string)
print("Type of string_var:", type(string))

print("Boolean variable:", boolean)
print("Type of boolean_var:", type(boolean))

Integer variable: 10
Type of integer_var: <class 'int'>
Float variable: 20.5
Type of float_var: <class 'float'>
String variable: Hello, World!
Type of string_var: <class 'str'>
Boolean variable: True
Type of boolean_var: <class 'bool'>

In [7]:
#2) Create a List, tuple and Dictionary with 5 elements in it and how to access few elements based on the index.
# Try  with different examples

list_new = [10, 20, 30, 40, 50]
tuple_new = (1, 2, 3, 4, 5)
dic = {'name': 'Alice', 'age': 25, 'city': 'New York', 'occupation': 'Engineer', 'status': 'Active'}
list_element_at_index_2 = list_new[2]
tuple_element_at_index_3 = tuple_new[3]
dict_element_for_key_name = dic['name']
dict_element_for_key_age = dic['age']
print("Element at index 2 of the List:", list_element_at_index_2)
print("Element at index 3 of the Tuple:", tuple_element_at_index_3)
print("Element for the key 'name' in the Dictionary:", dict_element_for_key_name)
print("Element for the key 'age' in the Dictionary:", dict_element_for_key_age)

Element at index 2 of the List: 30
Element at index 3 of the Tuple: 4
Element for the key 'name' in the Dictionary: Alice
Element for the key 'age' in the Dictionary: 25